body {
  max-width: $body-max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

body [class$="--hidden"] {
  display: none;
}

// body::-webkit-scrollbar {
//   width: 12px; /* width of the entire scrollbar */
// }
