$base-font-size: 16px;
$base-font-family: 'Lato', sans-serif;
$font-family-DM-sans: 'DM Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$base-font-color: #000;
$secondary-font-color: #fff;
$title-font-color: #D04F4F;
$selector-blue: #3282F7;
$selector-green: #68D9A4;
$selector-red: #ED6454;
$background-color-primary: #E7E7E7;

$card-recipe-width: 370px;
$card-recipe-gap: 50px;
$card-image-height: 40%;

$body-max-width: 1440px;