.filter-tag {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  &__item {
    height: 40px;
    padding: 0 0.5em;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
    font-weight: 700;
    font-family: lato;
    font-size: 0.875rem;
    cursor: pointer;

    &--ingredients {
      background-color: $selector-blue;
    }

    &--appliance {
      background-color: $selector-green;
    }

    &--ustensils {
      background-color: $selector-red;
    }
  }

  &__icon {
    font-size: 1.2rem;
  }
}